<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xamp- Online Tuition Portal</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	   <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
	   <link rel="stylesheet" href="/src/main/resources/static/css/index.css">
</head>
<body>
	
	<div class="tab">
	    <button class="tablinks" onclick="openTab(event, 'Home')" id="defaultOpen">Home</button>
	    <button class="tablinks" onclick="openTab(event, 'About')">About</button>
	    <button class="tablinks" onclick="openTab(event, 'Publications')">Publications</button>
		<button class="tablinks" onclick="openTab(event, 'Syllabus')">Syllabus</button>
		<button class="tablinks" onclick="openTab(event, 'School')">School</button>
		<button class="tablinks" onclick="openTab(event, 'Contact Us')">Contact Us</button>
	</div>
	<h1>Xamp- Online Tution Portal</h1>
	
    <div class="login-container">
        <h2>Login</h2>
 <form id="loginForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
          
        <button id="submit">Login</button>
</form>       

 <div class="message" id="message"></div>
    </div>
	<script type="application/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>